@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;

  background: #111;
  color: var(--primary-color);
}

body {
  height: 100vh;
  font-family: 'Heebo', sans-serif;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
